/* Colors */
:root{
    --primary: #FF6464;
    --secondary: #00A8CC;
    --dark: #21243D;
    --light: #8695A4;
}
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Heebo', sans-serif;
}
.wrapper{
    width: 1152px;
    margin: 0 auto;
    padding: 0 60 0 856; /*top right bottom left*/
}
/* Header Navigation */
.desktop-nav{
 display: flex;
 justify-content: end;
 align-items: center;
 padding-top: 25px;
 /* position:fixed; */
 z-index: 200px;
}

.desktop-nav .menu-items{
    display: flex;
    list-style: none;
}
.desktop-nav .menu-items li{
    margin: 0 17px ;
}

.desktop-nav .menu-items li a{
    text-decoration: none;
    color: var(--dark);
    font-size: 20px;
    font-weight: bold;
}

.desktop-nav .menu-items li a.btn{
    color: var(--light);
    
}

a.btn{
    background-color: var(--primary);
    color: white;
    padding: 9px 20px; /* top/bottom    right/left */
    text-decoration: none;
}
/* Hero Section */
.hero-container{
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.hero-container .left .left-heading{
    /* position: absolute; */
    width: 506px;
    height: 105px;
    left: 148px;
    top: 228px;
    
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: var(--dark);
}
.hero-container .left .btn{
    position: absolute;
    left: 148px;
    top: 477px;
    
}

.hero-container .left p{
    position: absolute;
    width: 497px;
    height: 66px;
    left: 148px;
    top: 373px;

    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.hero-container .right img{
    position: absolute;
    width: 243px;
    height: 243px;
    left: 812px;
    top: 210px;
        
}

.desktop-nav{
    animation: fadeDown 1000ms forwards;
    opacity: 0;
}
@keyframes fadeDown{

from{
    opacity: 0;
    transform: translateY(-20px);
}
to{
    opacity: 1;
    transform: translateY(-0);
}
}

.hero-container .left .left-heading,p {
    animation: fadeIn 800ms forwards;
    opacity: 0;
    animation-delay: 400ms;
}
@keyframes fadeIn {
    to{
        opacity: 1;
    }
}
.hero-container .left .btn {
    animation: fadeToRight 800ms forwards cubic-bezier(0.22, 0.32, 0, 1.54);
    opacity: 0;
    animation-delay: 800ms;
}
@keyframes fadeToRight {
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.hero-container .right img {
    animation: fadeToLeft 1000ms forwards;
    opacity: 0;
    animation-delay: 900ms;
}
@keyframes fadeToLeft {
    from{
        
        transform: translateX(30px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
.viewAllLink{
    color: var(--secondary);
}
/* Recent Posts Section */
.recent-posts-section{
    background: lightblue;
    display: flex;
    justify-content: space-between; 
    
    position: absolute;
    left: 148px;
    top: 602px;
}
.recent-posts-section h2{   
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    color: #21243D;

}
.recent-posts-section h3{
    /* position: absolute;
    left: 796px;
    top: 622px; */

    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #00A8CC;
}

.recent-posts-section .recent-post-header .right-text{
    position: absolute;
    width: 208px;
    height: 20px;
    left: 796px;
    top: 622px;
    
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: var(--secondary);  
     
}
.recent-post-boxes{
    display: flex;
    justify-content: space-between;
}

.recent-post-date-left{
    position: absolute;
    width: 374px;
    height: 34px;
    left: 171px;
    top: 790px;

    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: var(--dark);
}
.recent-post-date-right{
    position: absolute;
    width: 374px;
    height: 34px;
    left: 609px;
    top: 790px;

    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: var(--dark);

}

.recent-post-desc-left{
    position: absolute;
    width: 368px;
    height: 117px;
    left: 171px;
    top: 835px;

    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--dark);

}
.recent-post-desc-right{
    position: absolute;
    width: 368px;
    height: 117px;
    left: 609px;
    top: 835px;

    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--dark);

}

.recent-posts-section .left-recent-post{
    background-color: white;
}
.recent-posts-section .recent-post-boxes .left-post-box .recent-post-heading-left{
    position: absolute;
    width: 374px;
    height: 85px;
    left: 171px;
    top: 688px;
    
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    color: black;
}
.recent-posts-section .recent-post-boxes .right-post-box .recent-post-heading-right{
    position: absolute;
    width: 374px;
    height: 85px;
    left: 609px;
    top: 688px;

    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    color: var(--dark);
}
/* Featured Section */
.featured-work1, .featured-work2, .featured-work3{
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
    
}
.featured-work1{
    position: absolute;
    left: 146px;
    top: 1088px;
}
.featured-work2{
    position: absolute;
    left: 146px;
    top: 1314px;
    
}
.featured-work3{
    position: absolute;
    left: 146px;
    top: 1540px;
}
.btn-featured-year{
    color: white;
    background: #142850;
    border-radius: 16px;
    border:none;
}
.dashboard{
    color: var(--light)
}
.featured-description{
    padding-left: 15px; 
}
.featured-description p{
    width: 594px;
}
.footer-section{ 
    position: absolute;
    top: 1859px;
    width: 1152px; 
}

.footnote{
    padding-left: 464px;
    padding-top: 20px;  
}

.footer-images{
    display:flex;
    justify-content: center;
}

.footer-images img{
    padding-right:10px;
}
